@model List<themch.Models.CauHoi>
@{
    Layout = null;
}
    <div class="card">

        <div class="card mb-4">
            @{
                int i = 0;
                foreach (var item in Model)
                {



                    <div class="card-body">
                        <form>
                            <div class="form-group">
                                <h5 style="width:710px;"> Câu @(i = i + 1) :  @item.NoiDubg1 </h5>

                                @if (item.HinhAnh1.Length > 0)
                                {
                                    <div class="card-body ">
                                        <img class="img-circle center-block" style="margin-left:140px" src="@item.HinhAnh1"
                                             alt="anh viet nam anh 1 " width="400px" height="400px" /><br />
                                    </div>

                                }

                            </div>
                          @{  int z = 1;

                              }
                   @**@         @foreach (var item1 in item.CauHois1)
                   {
                                <div class="form-group">
                                 


                                    <div class="custom-control custom-radio">
                                        <label >@z.</label>
                                       @{ z++;}
                                        @if (item1.TrangThai1 == true)
                                        {
                                            <label class="custom-control-inline" style="width:700px;color:orangered " for="@item1.MaDA">
                                                @item1.NoiDung1
                                            </label><br />
                                        }
                                        else
                                        {
                                            <label class="custom-control-inline" style="width:700px" for="@item1.MaDA">
                                                @item1.NoiDung1
                                            </label><br />
                                        }

                                        @{ try
                                            {
                                                if (item1.HinhAnh1.Length > 0)
                                                {
                                                    <img class="img-circle center-block" style="margin-left:80px" src="@item1.HinhAnh1"
                                                         alt="anh viet nam anh 1 " width="150px" /><br />

                                                }
                                            }
                                            catch { }
                                        }

                                    </div>


                                </div>
                            }

                        </form>
                    </div>


                }
                if (Model.Count > 0)
                {
                    <div class="row">
                        <div class="col-10" style="text-align:center">
                            <select id="txtMucDo" class="form-control col-12">
                                <option value="">Mức Độ Câu Hỏi</option>
                                <option value="Nhận Biết">Nhận Biết</option>
                                <option value="Thông Hiểu">Thông Hiểu</option>
                                <option value="Vận Dụng">Vận Dụng</option>
                                <option value="Vận Dụng Cao">Vận Dụng Cao</option>

                            </select>
                        </div>
                    </div>


                   
                }

            }
        </div>


    </div>

